In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# import ipywidgets as widgets
# from IPython.display import display
import streamlit as st

In [2]:
filename = "lab_results/Lab results master sheet.xlsx"
dfs = pd.read_excel(filename, sheet_name=None)
df = dfs['Sheet1']  # get "Sheet1" (there's only one sheet for now)
df.head()

,Panel Name,Test Name,Units,Ref. Range Lower,Ref. Range Upper,1/21/2022:17:00,09/08/2022:09:17,06/09/2023:08:48,12/15/2023:09:16
0,CBC With Differential Platelet,WBC,x10E3/uL,3.40,10.8,NaN,5.1,5.9,5.3
1,CBC With Differential Platelet,RBC,x10E6/uL,4.14,5.8,NaN,5.01,5.34,5.57
2,CBC With Differential Platelet,Hemoglobin,g/dL,13.00,17.7,NaN,14.6,16.1,16.5
3,CBC With Differential Platelet,Hematocrit,%,37.50,51.0,NaN,44.3,46.9,49.2
4,CBC With Differential Platelet,MCV,fL,79.00,97.0,NaN,88,88,88

In [4]:
columns = df.columns
test_datetimes = columns[5:]
test_dates = [d.split(':')[0] for d in test_datetimes]

data = {"Date": test_dates}
for i, row in df.iterrows():
    test_name = row['Test Name']
    values = []
    for test_datetime in test_datetimes:
        values.append(row[test_datetime])
    data[test_name] = values